@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */

[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}


/************ All DOM styles ************/

* {
    /*outline: 1px solid red !important;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


/*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}*/


/* Display scroll all time*/


/*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}*/

html,
body,
main {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    position: relative;
}


/************ Helper styles ************/

.center_elem {
    margin: 0 auto;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.font-grey {
    color: rgba(127, 127, 127, 0.85);
}

.font-dark-grey {
    color: rgba(0, 0, 0, .7);
}

.font-dark-grey:hover {
    text-decoration: underline;
}

.font-pink {
    color: rgb(127, 127, 127);
}

.make-block {
    display: block;
}

.social-icon {
    margin-right: 12px;
    color: #7E7E7E;
}

.social-icon:hover {
    opacity: 0.8;
}


/************ Materialize modifiers ************/

.card {
    margin: 10px 20px;
    /*height: 300px;*/
}

.navbar-fixed,
nav ul a {
    height: 55px;
}

.navbar-fixed nav {
    width: 430px;
    height: 55px
}

.tabs {
    height: 55px;
    margin-right: 20px;
}

.tabs .indicator {
    background-color: #f06292;
    height: 3px;
}

.tabs .tab {
    height: 55px;
}

.tabs .tab a {
    color: white;
    padding-top: 8px;
}

a .chip {
    margin-left: 5px;
}

.btn-floating {
    position: absolute;
    right: 0;
    top: 0;
}

.btn-floating,
.btn-floating i {
    line-height: 21px;
    width: 21px;
    height: 21px;
    font-size: 15px;
    padding-right: 1px;
}

.collapsible-header {
    padding-right: 24px;
    padding-left: 24px;
}

.divider {
    margin: 20px auto 13px auto;
}

.navbar-fixed nav .nav-wrapper {
    -webkit-box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75);
}

.dropdown-content li>a {
    font-size: 13px;
}


/*li.active {
    margin-bottom: 15px;
    margin-top: 15px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}*/

#near,
#favorites {
    padding: 0;
}

#near ul,
#favorites ul {
    margin: 0;
}

nav {
    background-color: white;
}

nav .input-field label i {
    color: #f06292;
    transition: color .3s;
    line-height: 50px;
}

nav .input-field i {
    line-height: 50px;
}

.input-field input[type=search],
nav .input-field label.active i {
    color: #444;
}

.input-field input[type=search] {
    width: 110px;
}


/*nav .nav-wrapper i {
    height: 64px;
    line-height: 45px;
}*/

nav ul a {
    font-size: 0.8rem;
}

.chip {
    line-height: 22px;
    height: 22px;
    font-size: 11px;
    margin-right: 0;
    background-color: #f2f2f2;
}


/************ Header ************/

.navigation {
    position: fixed;
    width: 430px;
    z-index: 1;
    padding: 0;
    overflow: hidden;
    /*background-color: #72c1ed;*/
    /*background-image: url("../images/cupcakes35.jpg");*/
}

.navigation__content {
    margin-bottom: 0;
    border: 0;
}

.navigation__content__header {
    background-color: transparent;
}

.navigation__content li {
    position: relative;
}

.navigation__content__header {
    position: absolute;
    z-index: 1001;
    height: 30px;
    width: 60px;
    left: 10px;
    top: -30px;
    border: 0;
}

.navigation__content__body {
    height: 90vh;
    overflow: auto;
    position: relative;
}

.navigation__content__body .lighten-5 {
    padding-top: 15px;
    padding-bottom: 35px;
}

.navigation__footer__image1 {
    margin: 20px auto;
    padding-top: 50px;
    max-width: 62px;
}

.fix-image {
    position: absolute;
    bottom: 0;
    right: calc(50% - 31px);
}

.attribution {
    /*margin: 10px auto;*/
    position: absolute;
    bottom: 24px;
    right: 45px;
    background-color: #f5f5f5;
}

.attribution__image {
    max-width: 200px;
}

.info-icon {
    line-height: 21.75px;
}

.speech-bubble {
    display: block;
    border-radius: 50%;
    text-align: center;
    padding: 20px;
    margin: 50px auto;
    width: 240px;
    height: 100px;
    background-color: white;
}

.navigation__tabs {
    width: 300px;
}

.row .col.logo {
    width: 430px;
    /*    background-image: url("../images/cupcakes40.jpg");
*/
}

.col.logo {
    /*padding: 17px 10px 0 10px;*/
    padding: 0;
    margin: 15px 24px 0px 24px !important;
}

.logo__title {
    font-family: 'Fredoka One', cursive;
    color: white;
    letter-spacing: 2px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    margin: 0;
    width: 114px;
    font-size: 1.6rem;
}

.logo__image {
    width: 50px;
    height: 50px;
    /*    display: block;
*/
}

.search {
    /* margin: 20px auto;
    max-width: 350px;*/
    height: 50px;
}

.test {
    width: 212px;
    margin-left: 16px;
}

nav .nav-wrapper form,
nav .nav-wrapper form .input-field {
    height: 50px;
}

.navigation div.accordion {
    padding: 0;
}

.card__image {
    max-width: 110px;
    max-height: 110px;
    margin: 14px 0;
}

.card__gallery {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    position: relative;
}

.card__gallery__controls {
    position: absolute;
    bottom: -30px;
    left: calc(50% - 23px);
    cursor: pointer;
}

.card__comments {
    width: 59%;
    margin-right: 5px;
    padding-right: 3px;
}

.card__details {
    max-height: 120px;
    width: 260px;
    padding-left: 6px;
    margin-top: 14px;
    margin-left: 10px;
    position: relative;
}

.collapsible-header .card__details {
    line-height: 12px;
}

.card__number {
    width: 12%;
    margin-top: 0;
}

.card__title {
    width: 95%;
    font-size: 14px;
    letter-spacing: .03em;
    color: rgba(0, 0, 0, .7);
    margin-top: 0;
    margin-bottom: 0;
    line-height: 14px;
}

.secondary-content {
    width: 5%;
    line-height: 20px;
    float: none;
}

.secondary-content i {
    line-height: 20px;
}

.card__button {
    width: 15%;
}

.card__ratings {
    width: 80%;
    font-size: 12px;
}

.card__price {
    width: 100%;
    /*padding-left: 2%;*/
    font-size: 12px;
}

.card__comment,
.card__comments__container,
.card__contacts {
    width: 100%;
    line-height: 15px;
}

.card__contacts {
    margin-top: 18px;
}

.card__comment {
    margin-top: 20px;
}

.card__comment__icon {
    width: 13%;
    /*color: #bbdefb;*/
    color: #b1b1b1;
}

.card__comments__icon {
    width: 13%;
    /*color: #bbdefb;*/
    color: #b1b1b1;
}

.card__contacts__icon {
    width: 7%;
    color: #b1b1b1;
}

.card__comment__icon i,
.card__comments__icon i {
    line-height: 15px;
    /*margin-top: 3px;*/
}

.card__contacts__icon i {
    line-height: 15px;
    margin-top: 0;
}

.card__comment__text,
.card__comments__text,
.card__contacts__text {
    width: 87%;
    font-size: 12px;
    letter-spacing: 0.03em;
    margin-bottom: 8px;
    text-align: left;
}

.card__contacts__text {
    margin-bottom: 0;
}

.card__comments__text {
    width: 87%;
    padding-right: 3px;
}

span .card__price__icon {
    font-size: 16px;
    line-height: 18px;
    width: 15px;
    margin-right: 0;
    margin-left: 2px;
}

span.badge.card__price__text {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #26a69a;
    border-radius: 2px;
    padding-left: 0;
    padding-top: 1px;
    left: 0;
    top: 40px;
    max-width: 74px;
    line-height: 18px;
}

.card__content {
    padding: 15px 24px;
    font-size: 13px;
    /*    background-color: #fdeff4;
*/
}

.card__content__attribute {
    /*width: 7%;*/
}

.toast__image {
    position: relative;
    top: 7px;
    max-width: 30px;
    /*margin-top: 5px;*/
    margin-right: 5px;
}

.toast {
    color: inherit;
}

.toast.rounded {
    background-color: #e3f2fd;
    padding-top: 0;
}

.card__content__address {
    width: 70%;
    line-height: 15px;
}

.card__content__attributes {
    width: 30%;
    text-align: right;
}

.card__contacts__social {
    width: 100%;
    margin-top: 3px;
    text-align: left;
}

.card__content__website {
    width: 100%;
}

.card__content .material-icons {
    font-size: 20px;
}

.backdrop {
    /*background-color: purple;*/
}

.backdrop {
    width: 100%;
    height: 100%;
    z-index: 1005;
}

#loader-wrapper {
    background-color: #D3D3D3;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
}

.preloader-wrapper.big {
    margin: 0 auto;
    z-index: 1005;
    position: absolute;
    width: 92px;
    height: 92px;
    top: calc(50% - 46px);
    left: calc(50% - 46px);
}

.preloader__image {
    max-width: 68px;
    position: absolute;
    top: calc(50% - 34px);
    left: calc(50% - 34px);
}

.error_container {
    max-width: 360px;
    text-align: center;
    position: relative;
    top: calc(28%);
    left: calc(50% - 180px);
    font-size: 20px;
    color: #575757;
}

.error_icon {
    position: relative;
    top: 6px;
    font-size: 28px;
}

.modal-trigger {
    display: none;
}

nav i.arrow {
    font-size: 13px;
}


/************ Map ************/

#map {
    height: 100%;
    width: calc(100% - 430px);
    margin-left: 430px;
}

.info__image {
    margin-right: 7px;
    /*display: block;*/
    /*width: 100%;*/
    /*margin: 0 auto;*/
}

.info__title {
    font-size: 13px;
    text-align: center;
}
