@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */

[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}


/************ All DOM styles ************/

* {
    /*outline: 1px solid red !important;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


/*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}*/


/* Display scroll all time*/


/*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}*/

html,
body,
main {
    margin: 0;
    padding: 0;
    height: 100%;
}


/************ Helper styles ************/

.center_elem {
    margin: 0 auto;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
}

.font-grey {
    color: rgb(127, 127, 127);
}

.font-pink {
    color: rgb(127, 127, 127);
}

.make-block {
    display: block;
}

.social-icon {
    margin-right: 15px;
    color: #8c8c8c;
}


/************ Materialize modifiers ************/

.card {
    margin: 10px 20px;
    /*height: 300px;*/
}

.navbar-fixed,
nav ul a {
    height: 55px;
}

.navbar-fixed nav {
    width: 500px;
    height: 55px
}

.tabs {
    height: 55px;
    margin-right: 20px;
}

.tabs .indicator {
    background-color: white;
    height: 3px;
}

.tabs .tab {
    height: 55px;
}

.tabs .tab a {
    color: white;
    padding-top: 8px;
}

a .chip {
    margin-left: 5px;
}


/************ Header ************/

.navigation {
    position: fixed;
    width: 500px;
    z-index: 1;
    padding: 0;
    overflow: hidden;
    background-image: url("../images/cupcakes35.jpg");
}

.navigation__content {
    margin-bottom: 0;
    border: 0;
}

.navigation__content__header {
    background-color: transparent;
}

.navigation__content li {
    position: relative;
}

.navigation__content__header {
    position: absolute;
    z-index: 1001;
    height: 30px;
    width: 60px;
    left: 10px;
    top: -30px;
    border: 0;
}

.navigation__content__body {
    height: 80vh;
    overflow: auto;
}

.navigation__content__body .lighten-5 {
    padding-top: 15px;
    padding-bottom: 35px;
}

.navigation__footer__image1 {
    margin: 10px auto 20px auto;
    padding-top: 50px;
}

.navigation__footer__image2 {
    margin: 10px auto 40px auto;
}

.logo {
    /*    background-image: url("../images/cupcakes40.jpg");
*/
}

.col.logo {
    padding: 5px;
}

.logo__title {
    font-family: 'Fredoka One', cursive;
    color: white;
    letter-spacing: 2px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 2.8rem;
}

.search {
    margin: 20px auto;
    max-width: 350px;
    height: 55px;
}

.navigation div.accordion {
    padding: 0;
}

.card__image {
    max-width: 120px;
    max-height: 120px;
    margin: 14px 0;
}

.card__details {
    max-height: 120px;
    width: 69%;
    padding-left: 15px;
    margin-top: 14px;
}

.collapsible-header .card__details {
    line-height: 25px;
}

.card__number {
    width: 12%;
    margin-top: 0;
}

.card__title {
    width: 83%;
    font-size: 1.1em;
    letter-spacing: .03em;
    color: rgba(0, 0, 0, .7);
    margin-top: 0;
    margin-bottom: 0;
    line-height: 25px;
}

.secondary-content {
    width: 5%;
    line-height: 25px;
    float: none;
}

.secondary-content i {
    line-height: 25px;
}

.card__button {
    width: 15%;
}

.card__ratings {
    width: 80%;
    font-size: 13.5px;
}

.card__price {
    width: 20%;
    padding-left: 2%;
}

.card__comment,
.card__comments,
.card__contacts {
    width: 100%;
    color: #8c8c8c;
    line-height: 18px;
    margin-top: 38px;
}

.card__contacts {
    margin-top: 0;
}

.card__comment__icon {
    width: 11%;
}

.card__comments__icon,
.card__contacts__icon {
    width: 8%;
}

.card__comment__icon i,
.card__comments__icon i,
.card__contacts__icon i {
    line-height: 18px;
    margin-top: 3px;
}

.card__comment__text,
.card__comments__text,
.card__contacts__text {
    width: 89%;
    font-style: italic;
    font-size: 13.5px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, .7);
    margin-bottom: 7px;
    text-align: left;
}

.card__contacts__text a {
    font-style: normal;
}

.card__comments__text {
    width: 92%;
}

span .card__price__icon {
    font-size: 16px;
    line-height: 25px;
    width: 15px;
    margin-right: 0;
    margin-left: 2px;
}

span.badge.card__price__text {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #26a69a;
    border-radius: 2px;
    padding-left: 0;
}

.card__content {
    background-color: #f2f8f9;
    padding: 20px;
    color: rgba(0, 0, 0, .7);
}

.card__content__attribute {
    /*width: 7%;*/
}

.toast__image {
    max-width: 30px;
    /*margin-top: 5px;*/
    margin-right: 5px;
}

.toast.rounded {
    background-color: #e1f5fe;
    padding-top: 5px;
}

.card__content__address {
    width: 75%;
}

.card__content__attributes {
    width: 25%;
    text-align: right;
}

.card__contacts__social {
    width: 100%;
    margin-top: 10px;
    text-align: left;
}

.card__content__website {
    width: 100%;
}

.backdrop {
    /*background-color: purple;*/
}


/************ Map ************/

#map {
    height: 100%;
}
